<!DOCTYPE html>
<html lang="en">
<!-- 这行是标准样式，移动和PC端都有，如果是中文就用zh-CN -->

<head>
  <meta charset="UTF-8">
  <!-- 这行是标准样式，移动和PC端都有 -->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="your keywords">
  <meta name="description" content="your description">
  <meta name="author" content="author,email address">
  <meta name="robots" content="index,follow">
  <meta name="renderer" content="ie-stand">
  <!-- 下面两行是移动端网页head格式 -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"> -->
  <!-- <meta name="format-detection" content="telephone=no" > -->
  <title>this is standard format of html head</title>

</head>

<body>
  <p>This is the standard format of html, originated from <a href="https://guide.aotu.io/docs/html/template.html">here</a></p>
  <input type="text" id="joke" name="joke" placeholder="let's joke">
  <script type="text/javascript">
    sayHello = function(a) {
      var joke = document.getElementById('joke').value;
      if (joke == "") {
        window.alert("hello jack, try input your name!");
      }
      else {
          window.alert("hello " + joke + "! " + "hooray");
      }
    }
  </script>
  <input type="button" value="sayHello" onclick="sayHello()">



</body>

</html>
